<div class="buttons clearfix">
  <%- if current_user.try(:follows?, report) -%>
    <%= link_to('Stop Following', report_follows_path(report), :method => :delete) %>
  <%- else -%>
    <%= link_to('Follow', report_follows_path(report), :method => :post) %>
  <%- end -%>
</div>
