<%- if current_user.try(:follows?, report) -%>
  <h4>You're following this report</h4>
  <%= follower_count(report, :other) %>
<%- else -%>
  <h4><%= follower_count(report) || content_tag(:p, "Like this Report?") %></h4>
  <p>Following gives you access to special features and updates.</p>
  <div class="clearfix">
    <%= link_to('Follow this Report', report_follows_path(report), :method => :post, :class => 'button') %>
  </div>
<%- end -%>
