<div id="interest_groups">
  <% paginated_section @interest_groups, :'data-replace' => 'interest_groups' do %>
    <ul>
    <%- @interest_groups.each do |interest_group| -%>
      <li><%= render interest_group %></li>
    <%- end -%>
    </ul>
  <% end %>
</div>
