<%- title "Interest Groups" -%>

<div class="section" id="interest_groups_index">
  <h2>Interest Groups</h2>
  <%= render 'interest_groups/search',:replace => 'interest_groups_index' %>

  <p>or browse by subject:</p>
  <%= render 'subjects/cloud', :subjects => @subjects, :target => lambda {|subjects|
    [interest_groups_path(:subjects => subjects), {:'data-replace' => 'interest_groups_index'}]
  } %>

  <%= render 'interest_groups/list', :interest_groups => @interest_groups, :replace => 'interest_groups_index' %>
</div>
