<%- title score_title(@score) -%>
<div>
  <%= render 'reports/scores/evidence', :score => @score %>
  <dl>
    <%- @score.evidence.group_by(&:subject).each_pair do |subject, subject_scores| -%>
      <%= render 'reports/scores/evidences/evidence', :subject => subject, :subject_scores => subject_scores %>
    <%- end -%>
  </dl>
</div>
