config/database.yml
config/facebooker.yml
config/secure_variables.rb
config/mongo.yml
config/newrelic.yml
config/initializers/secret_token.rb
db/*.sqlite3
db/mongo
log/*.log
log/*.log.*
log/*.lck
tmp/
public/system
public/assets
/data/
spec/support/web_requests.marshal
solr
rerun.txt
.DS_Store
bin/
vendor/bundler_gems/
.bundle
