[submodule "vendor/plugins/moonshine"]
	path = vendor/plugins/moonshine
	url = git@github.com:Empact/moonshine.git
[submodule "vendor/plugins/moonshine_mongodb"]
	path = vendor/plugins/moonshine_mongodb
	url = git@github.com:Empact/moonshine_mongodb.git
[submodule "vendor/plugins/moonshine_god"]
	path = vendor/plugins/moonshine_god
	url = http://github.com/varyform/moonshine_god.git
[submodule "vendor/plugins/moonshine_monit"]
	path = vendor/plugins/moonshine_monit
	url = git@github.com:Empact/moonshine_monit.git
