config/database.yml
config/facebooker.yml
config/secure_variables.rb
config/mongo.yml
config/newrelic.yml
db/*.sqlite3
db/mongo
log/*.log
log/*.log.*
log/*.lck
tmp/
public/system
public/assets
/data/
spec/fixtures/web_requests.marshal
solr
rerun.txt
.DS_Store
bin/
vendor/bundler_gems/
.bundle
.tddium*
