[submodule "vendor/plugins/moonshine"]
	path = vendor/plugins/moonshine
	url = git://github.com/Empact/moonshine.git
[submodule "vendor/plugins/moonshine_mongodb"]
	path = vendor/plugins/moonshine_mongodb
	url = git://github.com/Empact/moonshine_mongodb.git
[submodule "vendor/plugins/moonshine_god"]
	path = vendor/plugins/moonshine_god
	url = http://github.com/varyform/moonshine_god.git
[submodule "vendor/plugins/moonshine_monit"]
	path = vendor/plugins/moonshine_monit
	url = git://github.com/Empact/moonshine_monit.git
[submodule "vendor/plugins/moonshine_astrails_safe"]
	path = vendor/plugins/moonshine_astrails_safe
	url = git://github.com/Empact/moonshine_astrails_safe.git
[submodule "vendor/gems/mongo_session_store-1.1.2"]
	path = vendor/gems/mongo_session_store-1.1.2
	url = http://github.com/compressed/mongo_session_store.git
[submodule "vendor/plugins/parallel_tests"]
	path = vendor/plugins/parallel_tests
	url = http://github.com/grosser/parallel_tests.git
[submodule "vendor/plugins/paperclip_autosizer"]
	path = vendor/plugins/paperclip_autosizer
	url = git://github.com/Empact/Paperclip-Autosizer.git
