config/database.yml
db/*.sqlite3
log/*.log
log/*.lck
tmp/
public/system
data
spec/support/web_requests.marshal
solr
rerun.txt

vendor/bundler_gems/gems
vendor/bundler_gems/specifications
vendor/bundler_gems/doc
vendor/bundler_gems/environment.rb
