<div id="report_subjects" class="section report_subjects">
  <h3>Subjects</h3>
  <p>Subjects for this report are selected by <a href="http://votesmart.org/">Project Vote Smart</a>.  Follow the links below to find reports on related subjects.</p>
  <%= render 'subjects/cloud', :subjects => @subjects %>
</div>
