<div class="embed_instructions">
  <h1>Embed this report in your website</h1>
  <div><%= report_embed_code(@report) %></div>
  <% form_tag do %>
    <%= text_area_tag :code, report_embed_code(@report), :onclick => 'this.focus(); this.select();', :style => 'width: 200px' %>
    <div style="width: 200px"><%= clippy(report_embed_code(@report)) %></div>
  <% end %>
</div>
