<div class="embed_instructions">
  <h1>Embed this report in your website</h1>
  <p>Your viewers will see politicians in their area with scores from this report.</p>
  <%- embed_code = report_embed_code(@report) -%>
  <div style="width: 200px"><%= embed_code %></div>
  <%= form_tag do %>
    <%= text_area_tag :code, embed_code, onclick: 'this.focus(); this.select();', style: 'width: 200px' %>
    <div style="width: 200px"><%= clippy(embed_code) %></div>
  <% end %>
</div>
