<%= div_for issue do %>
  <%= link_to issue.title, issue %>
  <ul>
    <%- issue.causes.each do |cause| -%>
      <li><%= link_to cause.name, cause %></li>
    <%- end -%>
  </ul>
  <%- permitted_to? :destroy, :issues do -%>
    <%= link_to 'delete', issue_path(issue), :method => :delete %>
  <%- end -%>
<% end %>