<div id="bill_criteria" class="section">
  <h1>Agenda</h1>
  <p>This report's scores are derived from the bills below.  Votes in favor of supported bills or against opposed bills will lead to higher scores, while votes against these positions will lead to lower scores.</p>
  <%- if @report.bill_criteria.present? -%>
    <%= render 'reports/bill_criteria/legislative_agenda', :report => @report %>
  <%- elsif @report.user == current_user -%>
    <p>You need to add bills to this report in order to generate a score:</p>
  <%- else -%>
    <p>This report doesn't have any bills selected</p>
  <%- end -%>
</div>
