<ul>
  <%- scores.each do |score| -%>
    <li class="clearfix"><%= render score.report %><%= render 'politicians/score', :score => score %></li>
  <%- end -%>
</ul>
<%= link_to 'Personalize your Guide...', guide_path %>
