<%- if politicians || reports -%>
<%- politicians ||= [] -%>
<table id="scores">
  <%- if politicians -%>
    <thead>
      <tr>
        <%- if reports -%>
          <td></td>
        <%- end -%>
        <%- politicians.each do |politician| -%>
          <th><%= render politician %></th>
        <%- end -%>
      </tr>
    </thead>
  <%- end -%>
  <%- if reports -%>
    <tbody>
      <%- averages ||= reports.size <= 5 -%>
      <%- if averages && reports.size > 1 -%>
        <tr>
          <th>
            <div class="report">
              <span class="report_title">Average of these Reports</span>
            </div>
          </th>
          <%- politicians.each do |politician| -%>
            <td>
              <%- if score = politician.report_scores.for_reports(reports).average(:score) -%>
                <div class="report_score"><%= score.round.to_i %>%</div>
              <%- else -%>
                <div class="report_score blank" />
              <%- end -%>
            </td>
          <%- end -%>
        </tr>
      <%- end -%>
      <%- scores = ReportScore.for_reports(reports).for_politicians(politicians).with_evidence.scoped(:include => :report) -%>
      <%- reports.each do |report| -%>
        <tr>
          <th><%= render 'reports/report', :report => report, :float_description => true %></th>
          <%- politicians.each do |politician| -%>
            <td><%= render 'reports/scores/score', :score => scores.detect {|s| s.politician_id == politician.id && s.report_id == report.id }, :report => report %></td>
          <%- end -%>
        </tr>
      <%- end -%>
    </tbody>
  <%- end -%>
</table>
<%- end -%>