<% title "Report - #{h @report.name} - Add Criteria" %>

<div class="section">
  <%= render 'reports/header', :report => @report %>

  <h2>Declare Your Opposition/Support to Bills</h2>
  <%- if @new_report -%>
  <h3><small style="color:gray">Step 1: Name &amp; Describe your report,</small> Step 2: Select the Bills to include in your report:</h3>
  <%- end -%>

  <%= render 'users/reports/bills/search', :report => @report %>
  <%= render 'users/reports/bills/table', :report => @report, :bills => @bills %>
</div>