#cause_scores {
  padding-bottom: 0;
  margin-bottom: 0;
}

dt.report_evidence {
  float: left;
  width: 8em;
}

dd.report_evidence {
  margin-left: 8em;
}

.report_evidence .report_score {
  float: right;
  padding-right: 0.5em;
}
