.guide dl {
  text-align: center;
  font-size: 1.7em;
}

.guide dl > dt {
  font-weight: normal;
}

.guide ul {
  margin-left: 0;
  list-style-type: none;
}

.guide_map {
  height: 560px;
}
#guide_location_map_canvas {
  width: 100%;
  height: 100%;
}
