#nav_search {
  border: 1px solid gray;
}

#hero {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#549AD8', endColorstr='#4B87C3');
}

.politician_score {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F7F7F7');
}
