#hero {
  background-color: #549AD8;
  background: -webkit-gradient(linear, left top, left bottom, from(#549AD8), to(#4B87C3));
  background: -moz-linear-gradient(top,  #549AD8,  #4B87C3);

  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 35px;
  width: 100%;
}

#hero h1 {
  text-align: center;
}

#hero p {
  color: #FFF;
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 0.03em;
}

#hero .no_reg {
  margin-bottom:0;
  text-align: center;
  font-size: 0.97em;
  color: #A9C7E1;
  letter-spacing: 0.085em;
  font-weight: 500;
}

#hero .guide_explanation a {
  margin-left: 50px;
}

#instant_scores > ul {
  list-style-type: none;
}

#instant_scores > ul > li + li {
  margin-top: 0.5em;
}

#location_show_map_canvas, #guide_location_map_canvas {
  height: 30em;
}

h2 > form {
  padding-bottom: 0;
}

#footer .sidebar-links {
  float: right;
  margin-bottom: 0.5em;
}

#footer .sidebar-links a {
  font-weight: bold;
}

#copyright {
  color: black;
  font-weight: bold;
  vertical-align: top;
  padding-left: 5px;
}

a, .subject a {
  color: #0070e0;
}

#header a, #footer a, a.user, .politician_score a {
  text-decoration: none;
}

.pagination a, .score_sources a, .show_all {
  text-decoration: none;
  border-bottom: 1px dotted #666;
}
.pagination a:hover, .score_sources a:hover, .show_all:hover {
  border-bottom-style: solid;
}

#voters h3, #advocates h3 {
  color: #cf0200;
  text-transform: uppercase;
  font-size: 1.2em;
}

.location {
  text-decoration: none;
  color: #999;
}

.ui-tabs #report_scores {
  font: normal 13px/1.6em 'Lucida Grande', Lucida, Verdana, sans-serif;
}

.ui-tabs-nav .count {
  font-size: 0.9em;
}

.ui-tabs-nav .count:before {
  content: '(';
}
.ui-tabs-nav .count:after {
  content: ')';
}

#fancybox-close {
  border-bottom: none;
}

.fancyboxy-content {
  max-width: 560px;
}

.politician + .politician {
  margin-top: 0.5em;
}

.politician_headshot img {
  display: block;
}

.politician_headshot {
  float:left;
  padding-right: 0.5em;
}

.ui-menu-item .politician_name {
  margin-left: 60px;
}

.ui-menu-item .report {
  margin-top: 0;
  margin-bottom: 0;
}

#cropbox {
  max-width: 100%;
}

.left {
  float: left;
  width: 48%;
}

.right {
  float: right;
  width: 48%;
}

ul.causes_selector {
  padding-left: 0;
  margin-right: 0;
}

#content a.politician_headshot, #content a.politician_headshot:hover {
  border-bottom: 0;
}

#guide_entry h4 {
  font-size: 18px;
}

#guide_entry form dl, #guide_entry form dt, #guide_entry form dd, #guide_entry form p {
  display: inline;
}

#score_examples li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

form {
  padding-bottom: 10px;
}

.section form > p {
  margin-bottom: 10px;
}

input.tagged {
  color: gray;
}

.footer h3, .footer p, .footer ul, .footer li, .sidebar-links ul, .sidebar-links li {
  display:inline;
}

.footer h3 {
  font-size: 1.4em;
}

#account li {
  display: inline;
}

.report_scores table td {
  padding: 7px 0;
}

.report_scores .scores_generating {
  font-weight: bold;
  text-align: center;
}

.politician_location:before {
  content: ' (';
}

.politician_location:after {
  content: ')';
}

.report_score {
  font-size: 2.3em;
}

.politician_score > .report_score {
  height: 0;
}

#scores .report_score {
  text-align: center;
}

.report_score.blank:after {
  content: '—';
}

table#reports td {
  padding: 1em 0.5em;
}

.loading {
  font-size: 1.4em;
}

dl.chart_tooltip {
  margin: 0.5em;
}

#guide > dl > dt:first-of-type {
  display: inline;
}

#guide > dl > dd:first-of-type {
  display: inline;
  margin-left: 0;
}

#guide dt {
  padding: 5px;
  font: normal normal normal 18px Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
}

#guide dt:after {
  content: ':';
}

.image, .ui-dialog-titlebar-close {
  border-bottom: 0;
}

.image:hover {
  border-bottom: 0;
}

.image {
  float: left;
  text-align: center;
  padding-right: .5em;
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  width: 1000%;
}
.image_large {
  max-width: 120px;
  max-height: 120px;
}

#fdbk_container a {
  border-bottom: 0;
}

#data_sources {
  text-align: center;
}
#data_sources td {
  padding: 0;
}

.actions_menu {
  margin-left: 0;
}

.actions_menu li, .actions_menu li form, .actions_menu li div, .actions_menu li h2 {
  display: inline;
}

.actions_menu li + li:before {
  content: ' | ';
}
/* removed bottom border on tabbed links*/
.ui-tabs-nav a{
  border-bottom: none !important;
}

div.buttons.open-congress a{
  margin-bottom:10px;
}
/* BUTTONS */

/* Button Elements
   Some form of CSS for these guys are good to have and easy to re-style 
*/

.buttons a, .buttons button{
   display:block;
   float:left;
   margin:0 7px 0 0;
   background-color:#f5f5f5;
   border:1px solid #dedede;
   border-top:1px solid #eee;
   border-left:1px solid #eee;

   font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
   font-size:100%;
   line-height:130%;
   text-decoration:none;
   font-weight:bold;
   color:#565656;
   cursor:pointer;
   padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
   width:auto;
   overflow:visible;
   padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
   padding:5px 10px 5px 7px; /* Firefox */
   line-height:17px; /* Safari */
}
*:first-child+html button[type]{
   padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
   margin:0 3px -3px 0 !important;
   padding:0;
   border:none;
   width:16px;
   height:16px;
}
/* STANDARD */

.buttons button:hover, .buttons a:hover{
   background-color:#dff4ff;
   border:1px solid #c2e1ef;
   color:#336699;
}
.buttons a:active{
   background-color:#6299c5;
   border:1px solid #6299c5;
   color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
   color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
   background-color:#E6EFC2;
   border:1px solid #C6D880;
   color:#529214;
}
.buttons a.positive:active{
   background-color:#529214;
   border:1px solid #529214;
   color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
   color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
   background:#fbe3e4;
   border:1px solid #fbc2c4;
   color:#d12f19;
}
.buttons a.negative:active{
   background-color:#d12f19;
   border:1px solid #d12f19;
   color:#fff;
}

.buttons a.negative {
  background-color: #E2E1DE;
  border-color: #C4C4C4;
}
