#header {
  padding: 20px 0;
}

#logo {
  padding-bottom: 20px;
  padding-right: 20px;
}

.footer {
  background-color: #efefef;
}

.footer {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-top: 2em;
}

.footer li {
  margin-left: 20px;
}

#header_search {
  float:right;
}

#nav_search {
  background: url(../images/navigation/search_bg.png);
  width: 213px;
  height: 26px;
}

#account span, #menu span,
#advocates .see_reports span,
#advocates .create_report span {
  display: none;
}

#menu {
  float:left;
}

#menu li:first-of-type {
  margin-left: 0;
}

#menu li {
  margin-left: 10px;
}

#menu .causes_nav,
#menu .politicians_nav,
#menu .reports_nav {
  display: inline-block;
  width: 204px;
  height: 38px;
}

#menu .causes_nav {
  background: url(../images/navigation/button_causes.png);
}

#menu .causes_nav:hover {
  background: url(../images/navigation/button_causes_rollover.png);
}

#menu .causes_nav:active, #menu .selected > .causes_nav {
  background: url(../images/navigation/button_causes_pressed.png);
}

#menu .politicians_nav {
  background: url(../images/navigation/button_politicians.png);
}

#menu .politicians_nav:hover {
  background: url(../images/navigation/button_politicians_rollover.png);
}

#menu .politicians_nav:active, #menu .selected > .politicians_nav {
  background: url(../images/navigation/button_politicians_pressed.png);
}

#menu .reports_nav {
  background: url(../images/navigation/button_reports.png);
}

#menu .reports_nav:hover {
  background: url(../images/navigation/button_reports_rollover.png);
}

#menu .reports_nav:active, #menu .selected > .reports_nav {
  background: url(../images/navigation/button_reports_pressed.png);
}

#account {
  float:right;
}

#account .login,
#account .register {
  display: inline-block;
  width: 64px;
  height: 25px;
}

#account .login {
  background: url(../images/navigation/button_login.png);
}
#account .register {
  background: url(../images/navigation/button_register.png);
}
#account .login:hover {
  background: url(../images/navigation/button_login_rollover.png);
}
#account .register:hover {
  background: url(../images/navigation/button_register_rollover.png);
}

#advocates .see_reports,
#advocates .create_report {
  display: inline-block;
  height: 25px;
}

#advocates .see_reports {
  background: url(../images/navigation/button_seeMore.png);
  width: 73px;
}

#advocates .create_report {
  background: url(../images/navigation/button_createreport.png);
  width: 113px;
}

#advocates .see_reports:hover {
  background: url(../images/navigation/button_seeMore_rollover.png);
}

#advocates .create_report:hover {
  background: url(../images/navigation/button_createreport_rollover.png);
}
