#logo {
  display: block;
  margin-bottom: 20px;
  float: left;
}

#body {
  margin-bottom: 2em;
}

.footer {
  background-color: #f7f7f7;
}

.footer {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

.footer li {
  margin-left: 20px;
}

#header_search {
  float:right;
}

#header_search label {
  font-weight: bold;
}

#advocates .reports {
  margin-bottom: 0;
}

#advocates .reports li {
  margin-bottom: 0.5em;
}

a.sprites, span.sprites {
  display: inline-block;
}

.sprites span {
  display: none;
}

#menu {
  float:left;
  padding-left: 0;
  text-transform: lowercase;
}

#menu li:first-of-type {
  margin-left: 0;
}

#menu li {
  margin-left: 10px;
}

#account {
  float:right;
}

#account p {
  display: inline;
}
