.login_section,
.signup_section {
  width: 660px;
}

.login_section .right, .signup_section .right {
  width: 40%;
}

.report_header .report_title {
  float: left;
  padding: .45em .7em .7em 0;
}

.report_score_evidence_link > ul {
  display: inline;
  margin-left: 0;
}

.report_score_evidence_link > ul > li {
  display: inline;
}

.report_score_evidence_link > ul > li + li {
  content: ', ';
}

.cause blockquote, .report blockquote, .report_description blockquote {
  border-left: 0;
  padding-left: 0;
}

.politician_name {
  font-size: 1.1em;
}

h4, .report_title {
  font-size: 1.1em;
  font-weight: bold;
  color: #282625;
}

#content .cause > a, #content .subject > a, #content a.report_title, #content .report_creator a, #content .politician_name a {
  border-bottom: 0;
}

#content .cause > a:hover, #content .subject > a:hover, #content a.report_title:hover, #content .report_creator a:hover, #content .politician_name a:hover {
  border-bottom: 1px solid;
}

h1 {
  font: 35px/1.8em Georgia,Palatino,'Palatino Linotype',Times,'Times New Roman',serif;
}

.report_description h1 {
  font-size: 1.5em;
}

.report_description h1, .report_description p {
  margin-bottom: .5em;
}

.publicize {
  float: right;
  margin-left: 15px;
  width: 20em;
}

.publicize h2 {
  font-size: 1.3em;
}

#visibility ul {
  list-style-type: none;
  margin-top: 10px;
}

#visibility li + li {
  margin-top: 20px;
}

.publicize h2, .publicize p, #visibility h2, #visibility p {
  margin-bottom: 5px;
}

.publicize .buttons a, #visibility .buttons a {
  background-color: #E2E1DE;
  border-color: #C4C4C4;
}
