.report {
  margin-bottom: 1.5em;
}

.report > img {
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
}

.report_subject {
  font-size: 0.9em;
  margin-bottom: 0;
}

.report_subject dt, .report_subject dd, .report_subject div.subject {
  display: inline;
}

.report_subject dt {
  color: #bbb;
  font-weight: normal;
}
.report_subject dt:after {
  content: ': ';
}

.report_subject dd {
  margin-left: 0;
  font-weight: bold;
}

.reports li {
  margin-left: 0;
}

.report_image {
  float: left;
  margin-right: 7px;
  margin-top: 7px;
  max-width: 35px;
  max-height: 35px;
  overflow: hidden;
}

.report_score {
  font-family: 'Lucida Grande',Lucida,Verdana,sans-serif;
}

#score_examples .report_score {
  padding-top: 0;
}

.politician_score > .report_score {
  height: 0;
}

#scores .report_score {
  text-align: center;
}

.report_score.blank:after {
  content: '—';
}

#score_examples li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.report_excerpt {
  margin-right: 45px;
}

#report_scores td, table#scores td {
  vertical-align: middle;
}

#report_scores td + td {
  padding-left: 1em;
}

.follow_report {
  float: right;
  margin-top: 10px;
}

.reports > ul, ul.reports, #causes > ul, #interest_groups > ul {
  list-style-type: none;
  padding-left: 0;
}

.score_sources {
  font-size: .3em;
  margin-top: .5em;
  line-height: 1.5em;
}

#login_section,
#signup_section {
  width: 660px;
}

#login_section p, #signup_section p {
  margin-bottom: 0;
}

#login_section .right, #signup_section .right {
  width: 40%;
}

.cause_header h1, .cause_header .cause_title {
  float: left;
  margin-right: .7em;
  width: 100%;
}

.report_score_evidence_link > ul {
  display: inline;
  margin-left: 0;
}

.report_score_evidence_link > ul > li {
  display: inline;
}

.report_score_evidence_link > ul > li + li {
  content: ', ';
}

.report blockquote, .report_description blockquote, .interest_group blockquote {
  border-left: 0;
  padding-left: 0;
  color: #333;
  font-style: normal;
  margin: 5px 50px 0 0;
}

.report blockquote p, .report_description blockquote p, .interest_group blockquote p {
  margin-bottom: 5px;
}

h4, .report_title, a.politician_name, span.politician_name, a.politician_location, span.politician_location {
  font-size: 1.2em;
  font-weight: bold;
  color: #282625;
  text-decoration: none;
}

.ui-autocomplete .politician_location {
  font-weight: normal;
}

.causes_selector a, .cause > a, .subject > a, a.report_title, .report_creator a, a.politician_name, a.politician_location, a.score {
  border-bottom: none;
}

.causes_selector a:hover, .cause a:hover, .subject > a:hover, a.report_title:hover, .report_creator a:hover, a.politician_name:hover, a.politician_location:hover {
  border-bottom: 1px solid;
}

h1 {
  font: 35px/1.8em Georgia,Palatino,'Palatino Linotype',Times,'Times New Roman',serif;
}

.report_description {
  padding-bottom: 5px;
}

.report_creator img {
  display: inline-block;
}

.report_description h1 {
  font-size: 2em;
}

.report_description h1, .report_description p {
  margin-bottom: .5em;
}

.publicize {
  float: right;
  margin: 0 15px;
  width: 250px;
}

.publicize h2 {
  font-size: 1.3em;
}

#visibility ul {
  list-style-type: none;
  margin-top: 10px;
}

#visibility li + li {
  margin-top: 20px;
}

.publicize h2, .publicize p, #visibility h2, #visibility p {
  margin-bottom: 5px;
}

div.report_score .score {
    color: #3c3c3c;
}

.politician_scores div.report_score {
    width: 3em;
}
.politician_scores div.report {
    margin-bottom: 0;
}

.report_scores .report_score {
  padding-top: 3px;
}

.report_score_evidence_link ul, .report_scores {
  padding-left: 0;
}
