.sprites.front_page-button_createreport {
  background: url('/images/sprites/front_page.png') no-repeat 0px 0px;
  width: 113px;
  height: 25px;
}
.sprites.front_page-button_createreport_hover, .sprites.front_page-button_createreport:hover {
  background: url('/images/sprites/front_page.png') no-repeat 0px -25px;
  width: 113px;
  height: 25px;
}
.sprites.front_page-button_seeMore {
  background: url('/images/sprites/front_page.png') no-repeat 0px -50px;
  width: 73px;
  height: 25px;
}
.sprites.front_page-button_seeMore_hover, .sprites.front_page-button_seeMore:hover {
  background: url('/images/sprites/front_page.png') no-repeat 0px -75px;
  width: 73px;
  height: 25px;
}
.sprites.front_page-get_started_now {
  background: url('/images/sprites/front_page.png') no-repeat 0px -100px;
  width: 234px;
  height: 56px;
}
.sprites.front_page-get_started_now_hover, .sprites.front_page-get_started_now:hover {
  background: url('/images/sprites/front_page.png') no-repeat 0px -156px;
  width: 234px;
  height: 56px;
}
.sprites.front_page-guide_explanation {
  background: url('/images/sprites/front_page.png') no-repeat 0px -212px;
  width: 621px;
  height: 197px;
}
.sprites.front_page-know_what_your_representatives_really_stand_for {
  background: url('/images/sprites/front_page.png') no-repeat 0px -409px;
  width: 680px;
  height: 28px;
}
.sprites.navigation-button_causes {
  background: url('/images/sprites/navigation.png') no-repeat 0px 0px;
  width: 204px;
  height: 38px;
}
.sprites.navigation-button_causes_hover, .sprites.navigation-button_causes:hover {
  background: url('/images/sprites/navigation.png') no-repeat 0px -76px;
  width: 204px;
  height: 38px;
}
.sprites.navigation-button_causes_active, .sprites.navigation-button_causes:active,
.selected .sprites.navigation-button_causes {
  background: url('/images/sprites/navigation.png') no-repeat 0px -38px;
  width: 204px;
  height: 38px;
}
.sprites.navigation-button_login {
  background: url('/images/sprites/navigation.png') no-repeat 0px -114px;
  width: 64px;
  height: 25px;
}
.sprites.navigation-button_login_hover, .sprites.navigation-button_login:hover {
  background: url('/images/sprites/navigation.png') no-repeat 0px -139px;
  width: 64px;
  height: 25px;
}
.sprites.navigation-button_politicians {
  background: url('/images/sprites/navigation.png') no-repeat 0px -164px;
  width: 204px;
  height: 38px;
}
.sprites.navigation-button_politicians_hover, .sprites.navigation-button_politicians:hover {
  background: url('/images/sprites/navigation.png') no-repeat 0px -240px;
  width: 204px;
  height: 38px;
}
.sprites.navigation-button_politicians_active, .sprites.navigation-button_politicians:active,
.selected .sprites.navigation-button_politicians {
  background: url('/images/sprites/navigation.png') no-repeat 0px -202px;
  width: 204px;
  height: 38px;
}
.sprites.navigation-button_reports {
  background: url('/images/sprites/navigation.png') no-repeat 0px -278px;
  width: 204px;
  height: 38px;
}
.sprites.navigation-button_reports_hover, .sprites.navigation-button_reports:hover {
  background: url('/images/sprites/navigation.png') no-repeat 0px -354px;
  width: 204px;
  height: 38px;
}
.sprites.navigation-button_reports_active, .sprites.navigation-button_reports:active,
.selected .sprites.navigation-button_reports {
  background: url('/images/sprites/navigation.png') no-repeat 0px -316px;
  width: 204px;
  height: 38px;
}
.sprites.navigation-footer_logo {
  background: url('/images/sprites/navigation.png') no-repeat 0px -392px;
  width: 25px;
  height: 18px;
}
.sprites.navigation-header_logo {
  background: url('/images/sprites/navigation.png') no-repeat 0px -410px;
  width: 238px;
  height: 54px;
}
