@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

.embed {
  background-color: #E1E7E8;
  color: #9AA8A9;

  font-family: arial, serif;

   -moz-border-radius: 6px;
  -webkit-border-radius:6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

.header {
  padding: 10px 13px;

   -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius:6px 6px 0 0;
  -khtml-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.header, .header a, .header .report_creator, .header img {
  background-color: #322129;
  color: white;
  font-size: 16px;
  font-family: 'Droid Sans', arial, serif;
}

#embeded_report_scores {
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  border-bottom: none;
}

img {
  border: none;
}

.politician_name {
  padding-left: 5px;
  font-size: 12px;
}

.politician_headshot, .politician_name {
  float: left;
}

.politician_name, .report_score {
  line-height: 25px;
}

dl {
  margin-top: 10px;
  margin-bottom: 10px;
}

dt {
  margin-left: 0;
  margin-top: 20px;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  font-family: 'Droid Sans', arial, serif;
}

dd {
  height: 25px;
  margin-left: 0;
  padding: 5px;
  margin-top: 3px;

   -moz-border-radius: 6px;
  -webkit-border-radius:6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;

  position: relative;
}

dd a.politician_headshot {
  height: 25px;
  overflow: hidden;
}

dd, dd a, dd span, dd div {
  background-color: white;
  color: black;
}

.header {
  text-align: center;
}

.footer {
  bottom: 0;
  font-size: 11px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  font-family: arial, serif;
}

.footer a {
  color: #0d6fd0;
}

div.report_score {
  text-align: center;
  position: absolute;
  right: 5px;
}

div.report_score .score {
  color: white;
  font-family: arial, serif;
  font-weight: bold;
  font-size: 13px;

  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;

   -moz-border-radius: 12.5px;
  -webkit-border-radius: 12.5px;
  -khtml-border-radius: 12.5px;
}

div.report_score .score.blank {
  color: gray;
  border: gray solid 3px;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

div.report_score .score.a_plus {
  background-color: #2EAE11;
}
div.report_score .score.a {
  background-color: #3DAE23;
}
div.report_score .score.a_minus {
  background-color: #4BAE34;
}
div.report_score .score.b_plus {
  background-color: #5AAE46;
}
div.report_score .score.b {
  background-color: #68AE58;
}
div.report_score .score.b_minus {
  background-color: #77AF69;
}
div.report_score .score.c_plus {
  background-color: #85AF7B;
}
div.report_score .score.c {
  background-color: #94AF8D;
}
div.report_score .score.c_minus {
  background-color: #A2AF9E;
}
div.report_score .score.d_plus {
  background-color: #B1AFB0;
}
div.report_score .score.d {
  background-color: #9A9899;
}
div.report_score .score.d_minus {
  background-color: #828182;
}
div.report_score .score.f_plus {
  background-color: #6B6A6A;
}
div.report_score .score.f {
  background-color: #535353;
}
div.report_score .score.f_minus {
  background-color: #3C3C3C;
}

/*.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix {display:block;}
*/