<%- title score_title(@score) -%>
<div style="width: 750px">
  <%= render 'reports/scores/evidence_summary', score: @score, report: @report %>
  <%= render 'reports/scores/evidence', score: @score %>
</div>
