<% title "User - #{h(@user.username)} - Edit" %>

<div class="section">
  <%= render 'users/form', :user => @user %>

  <p>
    <%= link_to "Show", @user %> |
    <%= link_to "View All", users_path %>
  </p>
</div>