<%- title "Sign up" -%>

<div class="clearfix" id="signup_section">
  <%- unless @user.errors.present? -%>
  <div class="left">
    <h2>Sign up via...</h2>
    <%= render 'user_sessions/rpx' %><br />
  </div>
  <%- end -%>

  <div class="right">
    <h2>Sign up via Email</h2>
    <%= render 'users/form', user: @user %>
    <%= link_to 'Already have an account? Sign in here', login_path, class: 'act-replace', rel: 'signup_section' %>
  </div>
</div>
