<%- title "Sign up" -%>

<div class="clearfix" id="signup_section">
  <%- unless @user.errors.present? -%>
  <div class="left">
    <h2>Sign up via...</h2>
    <%= raw rpx_embed(:app_name => RPX_APP_NAME, :return_url => user_sessions_url) %><br />
  </div>
  <%- end -%>

  <div class="right">
    <h2>Sign up via Email</h2>
    <%= render 'users/form', :user => @user %>
    <%= link_to 'Already have an account? Sign in here', login_path, :class => 'act-replace', :rel => 'signup_section' %>
  </div>
</div>
