<% title "Sign up" %>

<%- target ||= users_path -%>
<div class="section">
  <%- unless @user.errors.present? -%>
    <h2>Sign up using an Existing Account</h2>
    <%= raw rpx_embed(:app_name => RPX_APP_NAME, :return_url => user_sessions_url) %><br />

    <h2>Or, Sign up using your email address</h2>
  <%- end -%>

  <%= render 'users/form', :user => @user, :target => target %>
</div>
