<% title "User" %>

<h2><%= render 'users/user_token', :user => @user, :thumbnail_size => 50 %></h2>


<%- if @reports.empty? -%>
  <p>You haven't created a report yet - <%= link_to "try it out!", new_user_report_path(@user) %></p>
<%- else -%>
  <ul>
  <% @reports.each do |report| %>
    <li><%= render 'reports/report', :report => report %></li>
  <% end %>
  </ul>
<%- end -%>

<p><%= link_to "Create a report", new_user_report_path(@user) %></p>