<% div_for cause do %>
  <%= link_to cause.name, cause, :class => 'cause_title' %>
  <%= render 'reports/follows/button', :report => cause.report %>
  <blockquote class="description">
    <p><%= truncate(md_to_text(cause.description), :length => 180) %></p>
  </blockquote>
<% end %>
