<div id="causes">
  <% paginated_section causes, :class => "act-replace", :rel => causes do %>
    <ul>
      <%- causes.each do |cause| -%>
        <li><%= render 'reports/report', :report => cause.report, :cause_only => true %></li>
      <%- end -%>
    </ul>
  <% end %>
</div>
