<%- title "Edit #{h(@cause.name)} - Causes" -%>
<h1>Edit Cause: <%= @cause.name %></h1>

<% form_for @cause do |f| %>
  <%= render 'causes/fields', :f => f %>
  <p><%= f.submit 'Update Cause' %></p>
<% end %>
