<%- title "Cause - #{h(@cause.name)}" -%>
<div class="section">
  <%= render 'causes/header', :cause => @cause %>

  <%- permitted_to? :edit, @cause do -%>
    <%= link_to 'Edit Cause', edit_cause_path(@cause) %>
  <%- end -%>
</div>

<div class="ui-tabs">
  <ul>
    <li><%= link_to content_tag(:span, 'Scores'), cause_report_scores_path(@cause, :format => :html), :title => 'Scores' %></li>
    <li><% link_to cause_reports_path(@cause, :format => :html), :title => 'Reports' do %>
      <span>Reports <span class="count"><%= @cause.reports.count %></span></span>
    <% end %></li>
  </ul>
</div>
