<%- title "Cause - #{h(@cause.name)}" -%>
<div class="section">
  <%= render 'causes/header', :cause => @cause %>

  <%- permitted_to? :edit, @cause do -%>
    <%= link_to 'Edit Cause', edit_cause_path(@cause) %>
  <%- end -%>
</div>

<div class="ui-tabs">
  <ul>
    <li><%= link_to content_tag(:span, 'Scores'), cause_scores_path(@cause), :title => 'Scores' %></li>
    <li><%= link_to content_tag(:span, 'Reports'), cause_reports_path(@cause), :title => 'Reports' %></li>
  </ul>
</div>
