// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass
@import compass/utilities.sass

!main_header_background = #150C15
!second_header_background = #787878
!normal = #150C15
!hover = #635254

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
+blueprint-scaffolding("body.bp")
body.bp
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction

  q:before, q:after
    content: '"'

  a
    +link-colors(!normal, !hover, !hover, !normal, !hover)
    //link-colors(!normal, !hover = false, !active = false, !visited = false, !focus = false)

  .info
    border-bottom: 1px dotted
    cursor: help

  dl
    dl
      dt:after
        content: ':'

  h2
    .bill_titles
      font-size: 20px
    a
      +link-colors(!second_header_background)

  h3
    padding: 5px 10px
    margin-bottom: 2px

  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
form
  +blueprint-form
  +blueprint-form-borders(#bbb,#635254,#ccc)

  input.submit
    background-color: #382841
    border-color: #605F5F
    border-style: solid
    border-width: 1px
    color: #FFF
    font-weight: bold
    padding-bottom: 0.3333em
    padding-top: 0.3333em
    text-decoration: none

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.three-col

  #container
    +container
    background-color: white
  #header
    margin-bottom: 10px
    +column(!blueprint_grid_columns, true)
  #footer
    +column(!blueprint_grid_columns, true)
    padding: 10px
  #sidebar-left, #sidebar-right
    h3
      background-color= !main_header_background
      color: white
      padding: 5px 10px
      margin-bottom: 2px
    p
      padding: 10px 10px
    ul
      +no-bullets
      margin-left: 5px

  #sidebar-left
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    !sidebar_columns = 4
    +column(!sidebar_columns)

  .flash
    text-align: center
    position: fixed
    z-index: 1001
    top: 0px
    width: 100%

  #sidebar-right
    !sidebar_columns = 4
    +column(!sidebar_columns,true)
    ul.sidebar-links
      a
        +hover-link
    form
      padding-bottom: 15px

      input.text
        width: 125px

  #content
    !content_columns = 20
    +column(!content_columns)
    h2
      background-color= !main_header_background
      color: white
      padding: 5px 10px
      margin-bottom: 2px
    p, form
      padding: 5px
    li.bill_criterion
      form.button-to
        display: inline-block

    .welcome
      p
        font-size: 14px
        margin-bottom: 0.5em
    #errorExplanation
      h2
        background-color: #fff
        color= !normal


