<%- title "Your Personal Report Scores" -%>

<div class="section" id="personalized_scores">
  <h2>Personalized Report</h2>
  <p>We score just for you based on <%= link_to "the reports you follow", '#Followed_Reports', :'data-tab-select' => 'Followed_Reports' %>.</p>
  <%= render 'politicians/search', :in_office => @in_office, :url => user_report_scores_path(@user), :replace => 'report_scores' %>
  <%= render 'reports/scores/table', :report => @report, :scores => @scores, :replace => 'report_scores',
    :reset_path => user_report_scores_path(@user, :representing => '') %>
</div>
