<%-
  no_titles ||= false
  hide_year ||= false
  attrs = (!no_titles && bill.titles.present?) ? {
    :'data-qtip-path' => bill_titles_path(bill),
    :'data-qtip-title' => %{Bill Titles for "#{bill.titles.first}"}
  } : {}
-%>

<span class="bill">
  <%= link_to_unless_current "#{bill.bill_type.to_s} #{bill.bill_number}#{" (#{bill.introduced_on.year})" unless hide_year }: #{bill.titles.first}", bill, attrs.merge(:class => 'title') %>
</span>
