<%-
  param_name ||= :page
  replace ||= 'bills'
-%>
<div id="bills">
  <%- if bills.present? -%>
    <% paginated_section bills, :param_name => param_name, :class => "act-replace", :rel => replace do %>
      <ul>
        <%- bills.each do |bill| -%>
          <li><%= render 'bills/bill', :bill => bill %></li>
        <%- end -%>
      </ul>
    <% end %>
  <%- else -%>
    <p>No bills found...</p>
  <%- end -%>
</div>
