<% title @q.present? ? %Q{Bill Search Results for "#{h @q}"} : 'Bills' %>

<div class="section">
  <h2>Bill Search</h2>

  <% form_tag bills_path, :method => :get do %>
    <%= label_tag :q, 'Search' %>
    <%= text_field_tag :q, @q %>
    <%= submit_tag 'Search' %>
  <% end %>

  <%= render 'bills/list', :bills => @bills, :title => @title  %>
</div>
