<%= render 'bills/search' %>

<%- if @bills.present? -%>
  <ul>
    <%- @bills.each do |bill| -%>
      <li><%= render 'bills/bill', :bill => bill %></li>
    <%- end -%>
  </ul>
<%- elsif @q -%>
  <p>No matching bills found...</p>
<%- end -%>