<% title @q.present? ? %Q{Bill Search Results for "#{h @q}"} : 'Bills' %>

<div class="section">
  <h2>Bill Search</h2>

  <%= render 'bills/search' %>

  <%= render 'bills/list', :bills => @bills, :title => @title  %>
</div>
