<h2><%=h @bill.title_with_number %></h2>

<%= link_to 'View on OpenCongress', @bill.opencongress_url %>

<h3>Supporting Politicians</h3>
<%- if (supporting = @bill.politicians.supporting).present? -%>
<ul>
  <% supporting.each do |politician|  %>
    <li><%= link_to politician.full_name, politician%></li>
  <% end %>
</ul>
<%- else -%>
  <p>We have no record of support for this bill</p>
<%- end -%>

<h3>Opposing Politicians</h3>
<%- if (opposing = @bill.politicians.opposing).present? -%>
<ul>
  <% opposing.each do |politician| %>
    <li><%= link_to politician.full_name, politician%></li>
  <% end %>
</ul>
<%- else -%>
  <p>We have no record of opposition for this bill</p>
<%- end -%>
