<%- politicians.each do |politician| -%>
  <%- score = score_for(scores, politician) -%>
  <% cache([dom_id(politician), score ? dom_id(score, :embed) : 'blank_score_embed'].join(':')) do %>
    <dd class="clearfix full_width">
      <div class="politician_score round-4 clearfix">
        <%= render 'politicians/headshot', :politician => politician, :style => :tiny %>
        <%= render 'politicians/name', :politician => politician, :name_only => true %>

        <% cache (score ? dom_id(score, :embed) : 'blank_score_embed') do %>
          <%- if score.nil? -%>
            <div class="report_score">
              <span class="score blank">?</span>
            </div>
          <%- else -%>
              <div class="report_score">
                <%= link_to score, report_path(score.report), :class => "fancyboxy score #{score_class(score)}" %>
              </div>
          <% end %>
        <%- end -%>
      </div>
    </dd>
  <% end %>
<%- end -%>
