<%- politicians.each do |politician| -%>
  <%- score = score_for(scores, politician) -%>
  <% cache([dom_id(politician), score ? dom_id(score, :embed) : dom_id(score.report, :blank_score_embed)].join(':')) do %>
    <dd class="clearfix full_width">
      <div class="politician_score round-4 clearfix">
        <%= render 'politicians/headshot', :politician => politician, :style => :tiny %>
        <%= render 'politicians/name', :politician => politician, :name_only => true %>

        <div class="report_score">
          <%- if score -%>
            <%= link_to score, report_path(score.report), :class => "fancyboxy score #{score_class(score)}" %>
          <%- else -%>
            <span class="score blank">?</span>
          <% end %>
        </div>
      </div>
    </dd>
  <% end %>
<%- end -%>
