<%- title "Please Support our Efforts" -%>

<div class="section">
  <h1>Help Us Help You</h1>
  <p>We're passionate about empowering you with the information you need to help your community.  We want you to be a proud participant in your community.</p>

  <p>But we need help too. While we're hard at work helping you, we're not taking cushy corporate jobs or the like.  Your donation helps us pay the bills, and better yet, recruit more people to build great tools for you to use.</p>
</div>
 