<%- title 'Thanks for Your Support' -%>

<div class="section">
  <h1>Thanks for Your Support</h1>

  <p>We really appreciate your early support for this effort, and we'll be working hard to make you proud.</p>

  <p>Remember though, donating isn't the only way to help: you can help the site learn and grow by participating in it and spreading the word of what you learn on VoteReports.</p>

  <p>
    Thanks again.<br />
    Ben Woosley<br />
    Director, VoteReports
  </p>
</div>
