<div id="report_scores_section" class="section report_scores">
  <h3>Scores</h3>
  <p>We score representatives based on the actual ratings this interest group has released over time.</p>
  <%- if @report -%>
    <%- if @scores.present? -%>
      <%= render 'politicians/search', :in_office => @in_office, :url => interest_group_scores_path(@interest_group), :replace => 'report_scores' %>
    <%- end -%>
    <%= render 'reports/scores/table', :report => @report, :scores => @scores %>
  <%- else -%>
    <p>No ratings on record for this group</p>
  <%- end -%>
</div>
