<%- title "Scores for #{@interest_group.name} - Interest Groups" -%>

<%= render 'interest_groups/header', :interest_group => @interest_group %>

<div id="report_scores_section" class="section report_scores">
  <%- if @report -%>
    <%- if @scores.present? -%>
      <%= render 'politicians/search', :in_office => @in_office, :replace => 'report_scores',
        :url => interest_group_report_scores_path(@interest_group),
        :reset_path => interest_group_report_scores_path(@interest_group, :representing => '') %>
    <%- end -%>
    <%= render 'reports/scores/table', :report => @report, :scores => @scores, :votes_how => @votes_how, :target_path => interest_group_report_scores_path(@interest_group) %>
  <%- else -%>
    <p>No ratings on record for this group</p>
  <%- end -%>
</div>
