<div class="section">
  <h2>Causes</h2>
  <%- if @causes.present? -%>
    <p>This report's scores are included in the following causes. If you'd like to suggest more, please <%= mail_to 'causes@votereports.org', 'let us know' %>.</p>
    <%= render 'causes/list', causes: @causes %>
  <%- else -%>
    <p>This report doesn't have any associated causes.  If you'd like to suggest one, please <%= mail_to 'causes@votereports.org', 'let us know' %>.</p>
  <%- end -%>
</div>
