<% title "Subject - #{h @subject.name}" %>

<div class="section">
  <h2><%= @subject.name %></h2>

<div class="ui-tabs">
  <ul>
    <li><a href="#subject_reports">Reports</a></li>
    <li><a href="#subject_bills">Bills</a></li>
  </ul>

  <div id="subject_reports">
    <h2>Reports on "<%= @subject.name %>"</h2>
    <%= render 'reports/list', :reports => @reports, :param_name => :report_page %>
  </div>

  <div id="subject_bills">
    <%= render 'bills/list', :bills => @bills, :title => %Q{Bills on "#{@subject.name}"}, :param_name => :bill_page %>
  </div>
</div>
</div>
