<% title "Subject - #{@subject.name}" %>

<div class="section">
  <h2><%= @subject.name %></h2>

  <div class="ui-tabs">
    <ul>
      <li><%= link_to content_tag(:span, 'Reports'), subject_reports_path(@subject), :title => 'Reports' %></li>
      <li><%= link_to content_tag(:span, 'Bills'), subject_bills_path(@subject), :title => 'Bills' %></li>
    </ul>
  </div>
</div>
