<%- title score_title(@score) -%>
<div>
  <%= render 'reports/scores/evidence_summary', :score => @score %>
  <dl class="cause_score_evidence">
    <%- @score.evidence.group_by(&:subject).each_pair do |subject, scores| -%>
      <%= render 'reports/scores/evidences/evidence', :subject => subject, :scores => scores %>
    <%- end -%>
  </dl>
</div>
