<% title report_name(@report) %>

<div class="embed">
  <div class="header">
    <%= link_to report_name(@report), report_path(@report), :class => 'report_title' %>
    <%- if @report.user_id -%>
      <span class="report_creator">by <%= render 'users/user', :user => @report.user %></span>
    <%- end -%>
  </div>

  <div id="embeded_report_scores">
    <%= render 'embeds/reports/scores', :scores => @scores, :politicians => @politicians %>
  </div>

  <div class="footer">
    Grades provided by <%= link_to 'VoteReports', root_path %>
  </div>
</div>
