<% title "About us" %>
<h2>Our Mission</h2>
<p>Our mission is to bring on a new level of political accountability such that representatives are always and everywhere led by their constituents.</p>
<p>To inform. To promote truth. To combat political apathy. To enrich our political discussions by grounding them in the real actions of our representatives. We are united by our common desire to support honest representatives who stand for our interests.</p>

<h2>About Us</h2>
<p>VoteReports is a national nonprofit, nonpartisan organization led by Benjamin Woosley.</p>

<p>The site was launched in November 2009 at a startup weekend event in New York City, thanks to the efforts of James Croft, Alex Fradkin, Richard Renzulli, David A. Sampayo, Benjamin Woosley and Ricardo Zulueta, Jr.</p>
