<% title "About us" %>
<h2>About us</h2>

<h3>Mission</h3>
<p>Our mission is to be the premiere tool for assessing political accountability. To inform. To promote truth. To combat political apathy. We are united by our common desire to have honest representatives who stand for our interests, and we are passionate about transparency in the government. Visit VoteReports to see if your representative truly represents you!</p>

<h3>Who we are.</h3>
<p>VoteReport.org is a national nonprofit, nonpartisan organization founded in 2009 by Ben Woosley, David A. Sampayo, James Croft, Ricardo Zulueta, Jr, Richard Renzulli and Alex Fradkin. The company was launched at a startup weekend event in New York City.</p>

<h3>What we do.</h3>
<p>We use the latest technology to aggregate facts about the political policies most important to your life. We create a central location for legislative voting records and analysis. We publish breaking news and the latest ideas and opinions of some of the country's leading political groups.</p>







