<% content_for :javascript_area do %>
  <script type="text/javascript" src="http://votereports.us1.list-manage.com/js/jquery.validate.js"></script>
  <script type="text/javascript" src="http://votereports.us1.list-manage.com/js/jquery.form.js"></script>
  <script type="text/javascript" src="http://votereports.us1.list-manage.com/subscribe/xs-js?u=7a5f531cddf4733361c3c56b4&amp;id=6ed81c914b"></script>
  <script type="text/javascript">
    // delete this script tag and use a "div.mc_inline_error{ XXX !important}" selector
    // or fill this in and it will be inlined when errors are generated
    var mc_custom_error_style = '';
  </script>
<% end %>

<h2>Welcome</h2>
<p>This is VoteReports, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar mollis nibh sed eleifend. Vestibulum eu libero sed urna auctor tristique vel ac metus. Phasellus vehicula tempor hendrerit. Donec ultrices dignissim varius. Phasellus molestie metus in ipsum iaculis sit amet fringilla mauris egestas. Suspendisse posuere consectetur aliquam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus quis eros nec nunc luctus lobortis. Morbi vel pharetra augue. Aenean eget nibh libero. Integer urna est, molestie et iaculis eget, vulputate interdum nibh. Cras pharetra enim at augue lacinia et tincidunt leo tristique. Integer lectus ligula, congue et dignissim eget, ultricies in enim. In vitae sem sapien, eu imperdiet sem.</p>
<h3>Newsletter</h3>
<form action="http://votereports.us1.list-manage.com/subscribe/post?u=7a5f531cddf4733361c3c56b4&amp;id=6ed81c914b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
  <fieldset>
    <div id="mce-responses">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address </label>
      <input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
  </fieldset> 
</form>
