<% content_for :javascript_area do %>
  <script type="text/javascript" src="http://votereports.us1.list-manage.com/js/jquery.validate.js"></script>
  <script type="text/javascript" src="http://votereports.us1.list-manage.com/js/jquery.form.js"></script>
  <script type="text/javascript" src="http://votereports.us1.list-manage.com/subscribe/xs-js?u=7a5f531cddf4733361c3c56b4&amp;id=6ed81c914b"></script>
  <script type="text/javascript">
    // delete this script tag and use a "div.mc_inline_error{ XXX !important}" selector
    // or fill this in and it will be inlined when errors are generated
    var mc_custom_error_style = '';
  </script>
<% end %>

<div class="welcome">
  <h2>Real Accountability for Representatives</h2>
  <p>VoteReports is the easy way to know what your representatives <em>really</em> do on the the issues important to you.</p>
  <p>Our report cards are created by concerned citizens to condense the complexity of politics to simple letter grades.</p>
  <p>Use VoteReports to see if your representative truly represents you!</p>
</div>

<h2>Recent Reports</h2>
<%= render 'reports/list', :reports => @recent_reports %>
<%= will_paginate @recent_reports %>
