<% content_for :javascript_area do %>
  <script type="text/javascript" src="http://votereports.us1.list-manage.com/js/jquery.validate.js"></script>
  <script type="text/javascript" src="http://votereports.us1.list-manage.com/js/jquery.form.js"></script>
  <script type="text/javascript" src="http://votereports.us1.list-manage.com/subscribe/xs-js?u=7a5f531cddf4733361c3c56b4&amp;id=6ed81c914b"></script>
  <script type="text/javascript">
    // delete this script tag and use a "div.mc_inline_error{ XXX !important}" selector
    // or fill this in and it will be inlined when errors are generated
    var mc_custom_error_style = '';
  </script>
<% end %>

<div class="welcome">
  <h2>Welcome</h2>
  <p>This is VoteReports, our mission is to be the premiere tool for assessing political accountability.</p>
  <p>To inform. To promote truth. To combat political apathy.</p>
  <p>We are united by our common desire to have honest representatives who stand for our interests, and we are passionate about transparency in the government.</p>
  <p>Use VoteReports to see if your representative truly represents you!</p>
</div>

<h2>Recent Reports</h2>
<%= render 'reports/list', :reports => @recent_reports %>
