<%- title 'Knowing is Half the Ballot' -%>
<div class="section">
  <h2>Knowing is Half the Ballot</h2>
  <p>At VoteReports, our politician report cards are created by people like you to condense all the complexity of politics to simple letter grades.  Simply:</p>

  <%= render 'site/instant_gratification' %>

  <p>Use VoteReports to see if your representatives truly represent you!</p>
</div>

<div class="section">
  <h2>Recent Reports</h2>
  <%= render 'reports/list', :reports => @recent_reports %>
  <%= will_paginate @recent_reports %>
</div>
