<div class="section">
  <h2>Answering the question: How do they represent you, really?</h2>
  <p>Our reports are created by people like you to condense all the complexity of politics to simple letter grades.  Simply:</p>

  <ol>
    <li><%= link_to 'Find reports', reports_path %> on the issues important to you</li>
    <li>Tell us who represents you</li>
    <li>We'll tell you how well they represent you, really</li>
  </ol>

  <p>Know how your representatives stand on <em>your</em> issues</p>
</div>

<div class="section">
  <h2>Recent Reports</h2>
  <%= render 'reports/list', :reports => @recent_reports %>
  <%= will_paginate @recent_reports %>
</div>
