<% title "About us" %>
<div class="section" id="mission">
  <h2>Our Mission</h2>
  <p>Our mission is to bring on a new level of political accountability such that representatives are always and everywhere led by their constituents.</p>
  <p>To inform. To promote truth. To combat political apathy. To enrich our political discussions by grounding them in the real actions of our representatives. We are united by our common desire to support honest representatives who stand for our interests.</p>
</div>

<div class="section" id="about_us">
  <h2>About Us</h2>
  <p>VoteReports is a national nonprofit, nonpartisan organization led by Benjamin Woosley and built on data provided by:</p>

  <ul id="data_sources">
    <li><%= link_to image_tag('gov_track_logo.png', :alt => 'GovTrack.us'), 'http://www.govtrack.us/' %></li>
    <li><%= link_to image_tag('sunlight_foundation_logo.jpg', :alt => 'Sunlight Foundation', :width => '200px'), 'http://sunlightfoundation.com/' %></li>
  </ul>

  <p>The site was launched in November 2009 at a startup weekend event in New York City, thanks to the efforts of James Croft, Alex Fradkin, Richard Renzulli, Gilbert Reimschussel, David A. Sampayo, Benjamin Woosley and Ricardo Zulueta, Jr.</p>
</div>

<div class="section" id="acknowledgements">
  <h2>Acknowledgements</h2>
  <p>VoteReports has been a labor of love which has involved many hands, known and unknown in its making, who together represent a symbol of the charity and abundance available to those interested in moving the world forward.</p>

  <p>The site exists in large part thanks to the encouragement of Jon Berger, who helped bring the original team together in November 2009 at a startup weekend event in New York City.  Since the Jon and his wife Pamela, both of <a href="http://shop.marketpublique.com/">Market Publique</a>, have provided excellent guidance on design and user experience, which have helped to make the site more hospitable.</p>

  <p>Likewise, that initial startup weekend team, of James Croft, Alex Fradkin, Richard Renzulli, Gilbert Reimschussel, David A. Sampayo, Benjamin Woosley and Ricardo Zulueta, Jr, enabled the site to transition from being simply an articulated concept to a functioning site.</p>

  <p>VoteReports wouldn't be possible without the vast body of open exchange which has occurred in the open source movement.  The site includes and benefits from some dozens of open source projects borne from the Ruby, Rails and jQuery communities.</p>

  <p>The VoteReports logo was contributed by <a href="http://www.alifelski.com/">Ali Felski</a> of the <a href="http://sunlightfoundation.com/">the Sunlight Foundation</a>.  It's clear that both Ali and the Sunlight Foundation are doing good work in D.C.</p>

  <p>In New York, both <a href="http://pivotallabs.com/">Pivotal Labs</a> and <a href="http://openplans.org/">The Open Planning Project</a> have graciously hosted efforts on VoteReports.  Aside from helping out VoteReports, they're excellent institutions doing their own good work.</p>

  <p>Finally, the site's visual design is an adapted version of <a href="http://thijsjacobs.com/">thijsjacobs</a>' Tumblr theme, <a href="http://www.tumblr.com/theme/3292">Stationary</a/>.  Without it, the site wouldn't be nearly so easy on the eyes.</p>

  <p>And even with all these mentioned, I'm sure there are many more who go unnamed.  We at VoteReports are thankful to each and every one of them.</p>
</div>