<%- title "About us" -%>

<%- cache do -%>
<div class="span-24">
  <div id="about-paragraph">
    <p id="introtext"><span class="emphasize">About Us:</span> Our mission is to bring on a new level of political accountability such that representatives are always led by their constituents.<br /><br /> We aim to inform, to promote truth and to combat political apathy, and are driven by a desire to support honest representatives who stand for the people's interests.<br /><br />The team is based in New York City.</p>
    <%= image_tag 'about/about_statue.jpg', :id => 'statue' %>
  </div>
</div>

<div>
  <div class="span-24"><div class="divider"></div></div>

  <div class="span-3"><div class="sectionheader"><div>team</div></div></div>

  <div class="span-10" id="content-container">
    <div class="team">
      <div class="foundername">Ben Woosley</div>
      <div class="arial-subtitle">Tech Lead and Founder</div>
      <div class="link"><a href="http://www.participantlabs.com/">participantlabs.com</a></div>
      <img class="team-image" src="images/about/about_ben.jpg" />
      <p class="medium-text">Ben has been fascinated by politics and its role in society since his first substantive encounter in the 12th grade. Meanwhile his professional inclinations have drawn him to bringing order and light to large disordered sets of data. His personal goal is to use information to decentralize political power.</p>
    </div>
  </div>

  <div class="span-1">&nbsp;</div>

  <div class="span-10 last" id="content-container">
    <div class="founder">
      <div class="foundername">James Teow</div>
      <div class="arial-subtitle">Creative Lead and Partner</div>
      <div class="link"><a href="http://www.jaems.info/">jaems.info</a></div>
      <img class="team-image" src="images/about/about_james.jpg" />
      <p class="medium-text">James moved to Brooklyn in order to work alongside some of the top creative designers and developers in the world. His design passion has been converting complicated streams of data into something accessible to the masses. His hope is that design and politics will mesh together in order to empower citizens with valuable information.</p>
    </div>
  </div>

</div>

<% if false %>

<div>
  <div class="span-24"><div class="divider"></div></div>

  <div class="span-3"><div class="sectionheader" style="background-color:#322129;"><div>advisors</div></div></div>

  <div class="span-21 last" id="content-container">

    <div class="span-10">
      <div class="span-3"><img class="advisor-image" src="images/about/about_cindy.jpg" /></div>
      <div class="span-7 last">
        <div class="advisor-info">
          <div class="advisor-name">Cindy Gallop</div>
          <div class="arial-subtitle">Brand Advisor</div>
          <div class="link"><a href="http://www.ifwerantheworld.com/">ifwerantheworld.com</a></div>
        </div>
      </div>
    </div>

    <div class="span-1">&nbsp;</div>

    <div class="span-10 last" style="margin-left:-10px;">
      <div class="span-3"><img class="advisor-image" src="images/about/about_stevie.jpg" /></div>
      <div class="span-7 last">
        <div class="advisor-info">
          <div class="advisor-name">Stevie Clifton</div>
          <div class="arial-subtitle">Advisor</div>
          <div class="link"><a href="http://www.animoto.com/">animoto.com</a></div>
        </div>
      </div>
    </div>

  </div>
</div>

<% end %>

<div>
  <div class="span-24"><div class="divider"></div></div>

  <div class="span-3"><div class="sectionheader" style="background-color:#e6692b;"><div>many thanks</div></div></div>

  <div class="span-21 last" id="content-container">

    <p class="large-text">The site exists in large part thanks to the encouragement of Jon Berger, who helped bring the original team together in November 2009 at a startup weekend event in New York City. Since then Jon and his wife Pamela, both of <a href="http://shop.marketpublique.com/">Market Publique</a>, have provided excellent guidance on design and user experience, which have helped to make the site more hospitable.  Great credit also goes out to Keith Gould of <a href="http://www.dailymugshot.com/">Daily Mugshot</a>, who introduced James and Ben, and has likewise been a great supporter.</p>

    <p class="large-text">Since then, Vote Reports has been aided and supported by many. We at Vote Reports are thankful to each and every one of them.</p>
  </div>
</div>

<div>
  <div class="span-24"><div class="divider"></div></div>

  <div class="span-3"><div class="sectionheader" style="background-color:#ffea00;"><div style="color:#000;">powered</div></div></div>

  <div class="span-21 last" id="powered-images-margin">
    <div id="powered-images-container">
      <div id="first"><a href="http://www.govtrack.org"><img src="images/about/powered_govtrack.jpg"></a><p class="small-text"><a href="http://www.govtrack.us/developers/data.xpd">Bill, Vote and Politician Data, and Politician Photos</a></p></div>
      <div><a href="http://www.votesmart.org"><img src="images/about/powered_votesmart.jpg"></a><p class="small-text"><a href="http://votesmart.org/services_api.php">Interest Group Ratings, Election and Candidacy Data, Politician Photos</a></p></div>
      <div><a href="http://www.mobilecommons.com"><img src="images/about/powered_commons.jpg"></a><p class="small-text"><a href="http://congress.mcommons.com/">Maps of State and Federal Districts</a></p></div>
      <div><a href="http://www.sunlightfoundation.com"><img src="images/about/powered_sunlight.jpg"></a><p class="small-text"><a href="http://services.sunlightlabs.com/docs/Sunlight_Congress_API/">Politician Contact Info</a></p></div>
    </div>
</div>

</div>

<%- end -%>
