<%- if reports.present? -%>
  <h3><%= title %></h3>
  <ul class="reports">
  <% reports.each do |report| %>
    <li><%= render 'reports/report', report: report %></li>
  <% end %>
  </ul>
<%- end -%>
