<% title "Reports" %>

<h2><%= @user.username %>'s Reports</h2>

<%- if @reports.empty? -%>
  <p>You haven't created a report yet - <%= link_to "try it out!", new_resource_path %></p>
<%- else -%>
  <ul>
  <% @reports.each do |report| %>
    <li><%= render 'reports/report', :report => report %></li>
  <% end %>
  </ul>
<%- end -%>

<p><%= link_to "New Report", new_resource_path if current_user == @user %></p>
