<%- title "Create Report" -%>

<div class="section">
  <h2>Create Your Own Report</h2>

  <h3>Step 1: Name &amp; Describe your report, <small style="color:gray">Step 2: Select the Bills to include in your report</small>:</h3>

  <%= render 'users/reports/form', report: @report, back_to: :back %>
</div>
