<%- prefix ||= 'based on' -%>

<div class="score_sources">
  <%= prefix %>
  <% cache(dom_id(score, 'evidence_summary')) do %>
    <%= link_to_unless_current score_evidence_description(score), report_score_path(score), :class => 'fancyboxy' %>
  <% end %>
</div>
