<%- style ||= '' -%>
<div class="report_score_evidence_link score_sources" style="<%= style %>">
  based on
  <ul>
    <%- score_evidence_components(score).each do |component| -%>
      <li><%= link_to component, report_score_path(score), :class => 'fancyboxy' %></li>
    <%- end -%>
  </ul>
</div>
