<%- if score.nil? -%>
  <div class="report_score blank" />
<%- else -%>
  <div class="report_score"><span class="score" data-qtip-path="<%= report_score_path(score) %>"><%= score %></span></div>
<%- end -%>
