<%- if score.nil? -%>
  <div class="report_score blank">
  </div>
<%- else -%>
  <% cache dom_id(score) do %>
    <div class="report_score">
      <%= link_to score, report_score_path(score), :class => "fancyboxy score #{score_class(score)}" %>
      <%= render 'reports/scores/evidence_summary', :score => score, :prefix => '' %>
    </div>
  <% end %>
<%- end -%>
