<%- if score.nil? -%>
  <div class="report_score blank" />
<%- else -%>
  <div class="report_score">
    <%= link_to score, report_score_path(score), :class => 'fancyboxy score' %>
    <%= render 'reports/scores/evidence', :score => score %>
  </div>
<%- end -%>
