<%-
  hide_evidence ||= false
  report ||= nil
-%>

<%- if score.nil? -%>
  <div class="report_score">
    <span class="score blank">?</span>
  </div>
<%- else -%>
  <% cache dom_id(score) do %>
    <div class="report_score">
      <%= link_to score, report_score_path(score, report), :class => "fancyboxy score #{score_class(score)}" %>
      <%- unless hide_evidence -%>
        <%= render 'reports/scores/evidence_summary', :score => score, :report => report, :prefix => '' %>
      <%- end -%>
    </div>
  <% end %>
  <%= content_tag(:div, "opposition: #{score.opposition_letter_grade}", :style => 'text-align: center;') if score.is_a?(Opposed) %>
<%- end -%>
