<%- hide_evidence ||= false -%>

<%- if score.nil? -%>
  <div class="report_score">
    <span class="score blank">?</span>
  </div>
<%- else -%>
  <% cache dom_id(score) do %>
    <div class="report_score">
      <%= link_to score, report_score_path(score), :class => "fancyboxy score #{score_class(score)}" %>
      <%- unless hide_evidence -%>
        <%= render 'reports/scores/evidence_summary', :score => score, :prefix => '' %>
      <%- end -%>
    </div>
  <% end %>
<%- end -%>
