<%- if score.nil? -%>
  <div class="report_score blank" />
<%- else -%>
  <div class="report_score">
    <span class="score"><%= score %></span>
    <%= render 'reports/scores/evidences/nav', :score => score %>
  </div>
<%- end -%>
