<span class="roll">
  <span class="title"><%= content_tag :span, roll.voted_at.to_date.to_s(:rfc822), :title => roll.voted_at.to_s(:long) %> - <%= link_to_unless_current roll.question, roll %> - <%= roll.result %></span>
</span>
