<%- title 'Your Guide' -%>

<h1>Here's your guide!</h1>

<p>Here are the scores for you representatives, based on your causes.</p>

<%= render 'reports/scores/table', report: @report, scores: @scores %>
