<div id="politicians">
  <h2>Politicians<%= %Q{ from "#{params[:from_where]}"} if params[:from_where].present? %></h2>
  <ul>
    <% politicians.each do |politician| %>
      <li><%= render 'politicians/politician', :politician => politician %></li>
    <% end %>
  </ul>
  <%= will_paginate politicians %>
</div>
