<div id="politicians">
  <h2>Politicians<%= %Q{ representing "#{params[:representing]}"} if params[:representing].present? %></h2>
  <ul>
    <% politicians.each do |politician| %>
      <li><%= render 'politicians/politician', politician: politician %></li>
    <% end %>
  </ul>
  <%= paginate politicians %>
</div>
