<%-
  full ||= false
  name = full ? politician_name(politician) : politician_last_name(politician)
  no_fancybox ||= false
-%>

<span class="politician_name">
  <%- if current_page?(politician) -%>
    <span class="name"><%= name %></span>
  <%- else -%>
    <%= link_to_unless_current name, politician, :class => 'name' %>
  <%- end -%>
  <%= render 'politicians/location', :politician => politician, :no_fancybox => no_fancybox %>
</span>
