<%-
  name_only ||= false
  full ||= false
  name =
    if name_only
      politician.full_name
    elsif full
      politician_name(politician)
    else
      politician_last_name(politician)
    end
  name = name.ellipsize(max_length) if defined?(max_length)
  no_fancybox ||= false
-%>

<span class="politician_name">
  <%- if current_page?(politician) -%>
    <span class="name"><%= name %></span>
  <%- else -%>
    <%= link_to_unless_current name, politician_url(politician), :class => 'name' %>
  <%- end -%>
  <%= render 'politicians/location', :politician => politician, :no_fancybox => no_fancybox unless name_only %>
</span>
