<%-
  headshot_style ||= :medium
  politician ||= score.politician
  hide_evidence ||= false
  name_only ||= false
  report ||= nil
-%>

<% cache([dom_id(politician), score ? dom_id(score) : 'blank_score', headshot_style].join(':')) do %>
  <div class="politician_score round-4 clearfix">
    <%= render 'politicians/headshot', politician: politician, style: headshot_style %>
    <%= render 'politicians/name', politician: politician, :name_only => name_only %>
    <%= render 'reports/scores/score', score: score, report: report, :hide_evidence => hide_evidence %>
  </div>
<% end %>
