<%-
  headshot_style ||= :medium
  headshot_size ||= nil
-%>

<div class="politician_score rounded clearfix">
  <%- politician = score.politician -%>
  <%= render 'politicians/headshot', :politician => politician, :style => headshot_style, :size => headshot_size %>
  <%= render 'politicians/name', :politician => politician %>
  <%= render 'reports/scores/score', :score => score %>
</div>
