<div class="clearfix">
  <%- if politician.headshot.url(:small) -%>
    <%= sized_image_tag politician.headshot, politician_title(politician), style: :small, size: '50x61', alt: politician.full_name, class: 'politician_headshot' %>
  <%- end -%>
  <div class="politician_name"><%= politician_name(politician) %>
    <%- if politician.location -%>
      <span class="politician_location" title="<%= location_title(politician.location) %>"><%= politician.location.abbreviation %></span>
    <%- end -%>
  </div>
</div>
