<% title 'Politicians' %>

<h2>Politicians</h2>
<ul>
  <% @politicians.each do |politician| %>
    <li><%= render 'politicians/politician', :politician => politician %></li>
  <% end %>
</ul>
<%= will_paginate @politicians %>
