<%- title 'Politicians' -%>

<div class="section">
  <%= render 'politicians/search', :in_office => @in_office, :url => politicians_path, :replace => 'politicians' %>
  <%= render 'politicians/list', :politicians => @politicians %>
</div>