<h2><%= resource.full_name %></h2>

<h3>Supported Bills</h3>
<%- if (supported = @politician.bills.supported).present? -%>
<ul>
  <% supported.each do |bill|  %>
    <li><%= link_to bill.title, bill%></li>
  <% end %>
</ul>
<%- else -%>
  <p>We have no record of support from this politician</p>
<%- end -%>

<h3>Opposed Bills</h3>
<%- if (opposed = @politician.bills.opposed).present? -%>
<ul>
  <% opposed.each do |bill|  %>
    <li><%= link_to bill.title, bill%></li>
  <% end %>
</ul>
<%- else -%>
  <p>We have no record of opposition from this politician</p>
<%- end -%>
