<div class="clearfix report_description">
  <div class="image large"><%= image_tag report.thumbnail.url(:header) %></div>
  <h2 class="report_title<%= ' big' if report.name.length < 14 %>"><%= report.name %></h2>
</div>

<p>Created by <%= render 'users/user', :user => report.user %></p>
