<%-
  param_name ||= :page
  replace ||= 'reports'
-%>
<div id="reports">
  <%- if reports.present? -%>
    <%- if reports.respond_to?(:total_pages) -%>
      <% paginated_section reports, :param_name => param_name, :'data-replace' => replace do %>
        <ul class="reports">
          <%- reports.each do |report| -%>
            <li><%= render 'reports/report', :report => report %></li>
          <%- end -%>
        </ul>
      <% end %>
    <%- else -%>
      <ul class="reports">
        <%- reports.each do |report| -%>
          <li><%= render report %></li>
        <%- end -%>
      </ul>
    <%- end -%>
  <%- else -%>
    <p>No reports found...</p>
  <%- end -%>
</div>
