<%- if reports.present? -%>
  <ol>
    <%- reports.each do |report| -%>
      <li><%= render 'users/reports/report', :report => report %></li>
    <%- end -%>
  </ol>
<%- else -%>
  <p>No reports found...</p>
<%- end -%>

<%= will_paginate reports %>
