<%- param_name ||= :page -%>
<div id="reports">
  <%- if reports.present? -%>
    <% paginated_section :param_name => param_name do %>
      <ol class="reports">
        <%- reports.each do |report| -%>
          <li><%= render report %></li>
        <%- end -%>
      </ol>
    <% end %>
  <%- else -%>
    <p>No reports found...</p>
  <%- end -%>
</div>
