<%- float_description ||= false -%>

<% div_for(report, :class => 'clearfix') do %>
  <%- description = truncate(strip_tags(md_to_html(report.description)), :length => 180 - report.name.length) -%>
  <%- attrs = float_description ? {:title => strip_tags(md_to_html(report.description))} : {} if  -%>
  <%= link_to report_name(report), report_path_components(report), attrs.merge(:class => 'report_title').merge(hover_image_attrs(report.thumbnail)) %>
  <br />
    <%- if report.user_id -%>
      <span class="report_creator">By <%= render 'users/user', :user => report.user %></span>
    <%- end -%>
  <%- unless description.blank? || float_description || report.name.size > 60 -%>
    <blockquote><p><%= h(description) %></p></blockquote>
  <%- end -%>
<% end %>
