<% div_for(report, :class => 'clearfix') do %>
  <%- description = truncate(strip_tags(md_to_html(report.description)), :length => 100 - report.name.length) -%>
  <%= content_tag :span, report_name(report), hover_image_attrs(report.thumbnail).merge(:class => 'report_title') %>
  <%- if report.user_id -%>
    <span class="report_creator">By <%= render 'users/search_result', :user => report.user %></span>
  <%- end -%>
  <%- unless description.blank? || report.name.size > 60 -%>
    <blockquote><p><%= h(description) %></p></blockquote>
  <%- end -%>
<% end %>
