<% title "Reports" %>

<h2>Find reports on the subjects you care about</h2>

<p>Our politician report cards are created by people like you to condense all the complexity of politics to simple letter grades.</p>

<p>Search for reports on the issues important to you.  If you find none, you can always <%= link_to 'create your own', new_report_path %>.</p>

<%= render 'reports/search' %>

<h3><%= @title %></h3>
<%= render 'reports/list', :reports => @reports %>
