<p id="location" class="precision-<%= session[:geo_location].precision %>"><%= current_location %></p>
(<%= link_to 'set location', location_path(:return_to => request.path), :class => 'fancyboxy' %>)
