<%- title "Set your location" -%>

<div class="section">
  <h2>Set your location</h2>

  <p>Setting your location on VoteReports helps us to show you just the scores relevant to you.</p>

  <p>Just tell us the zip code (+ 4 is best) for where you vote and we'll focus on your representatives throughout the site.</p>

  <% form_tag location_path do %>
    <%= label_tag :zip_code, "Zip Code" %>
    <%= text_field_tag :zip_code %>
    <%- if params[:return_to].present? -%>
      <%= hidden_field_tag :return_to, params[:return_to] %>
    <%- end -%>
    <%= submit_tag 'Save' %>
  <% end %>
</div>
