<%- title "Set your location" -%>
<%- replace = (@js ? 'fancybox-inner' : 'content') -%>

<div class="section fancyboxy-content"  style="min-width: 750px; min-height: 415px;">
  <h4>Help us show just the scores relevant to you</h4>

  <p>Just tell us where you vote and we'll focus on your representatives throughout the site.</p>

  <% form_tag location_path, :class => "act-replace", :rel => replace do %>
    <%= label_tag :location, 'Your Location' %>
    <%= text_field_tag :location %>
    <%- if params[:return_to].present? -%>
      <%= hidden_field_tag :return_to, params[:return_to] %>
    <%- end -%>
    <%= submit_tag 'Set' %>
  <% end %>
</div>
