<div class="global-menu-row">
  <div class="container">
    <div class="span-15">
      <%= render 'layouts/menu_links' %>
    </div>
    <div class="span-9 last">
      <%= render 'layouts/search_box' %>
    </div>
  </div>
</div>
