<ul id="menu" class="sidebar-links">
  <li class=""><a href="/politicians" id="navlinks" class="tk-header"><span>politicians</span></a></li>
  <li class=""><a href="/reports" id="navlinks" class="tk-header"><span>reports</span></a></li>
  <li class=""><a href="/causes" id="navlinks" class="tk-header"><span>causes</span></a></li>
</ul>
