<% content_for :header_content do %>
  <%= render 'layouts/menu_row' %>
<% end %>

<% content_for :footer_and_header_content do %>
  <%= yield :above_content %>
  
  <div id="body" class="container">
    <div id="content" class="span-24">
      <%= yield(:content) || yield %>
    </div>
  </div>
<% end %>
<%= render :file => 'layouts/footer_and_header' %> 
